
<div class="container">
   <div class="row">
     <li class="logo">
       <div class="col-xs-12 col-md-12 col-lg-12">
         <img class="logo-image" src="/assets/BV logo.svg" width="720" height="720">
       </div>
     </li>
     <li class="title">
       <div class="col-xs-12 col-md-12 col-lg-12">
         <img class="logo-heading" src="/assets/Thin Mint.svg" width="720" height="720">


          <img class="generator1" src="/assets/BV Button Thin Mint.png">
          <img class="generator2" src="/assets/BV Button Key Lime Pie.png">
          <img class="generator3" src="/assets/BV Button King Cake.png">
          <img class="generator4" src="/assets/BV Button Sugar Cookie.png">
          <img class="generator5" src="/assets/BV Button Strawberry Cheesecake.png">
          <img class="generator6" src="/assets/BV Button Cherry Pie.png">


       </div>



         <footer class="footer">
              <span class="text-muted"><a href="https://github.com/murphym757/bvthemegenerator"><%= image_tag("githublogo.png", alt: "png-img", height: 80, width: 100) %></a>
                <a href="https://maurice-murphy-portfolio.herokuapp.com/"><%= image_tag("PersonalLogo.png", alt: "png-img", height: 80, width: 100) %></a><br>Copyright &copy; 2017<br></span>
       </footer>
</li>
   </div>

  </div>
  <%= javascript_include_tag 'bvtheme.js' %>
